body{
    background-color: rgba(11, 25, 235, 0.918);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.containers{
    margin-right: auto;
    margin-left: auto ;
    margin-top: 9%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 208, 111);
    height: 400px;
    width: 70%;
    border-radius: 50px 50px;
    border-style: solid
}
.container{
    margin-right: 2%;
    margin-left: 2% ;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 230, 235);
    height: 50px;
    border-style: solid;
    border-radius: 50px 50px;
}
.options{
    margin-top: 6%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px;
}
.test{

    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
}
.geo{
    margin-top: 10px;
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px 50px;
}
.input{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}